.round
, .status-bar
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.shadow-inset
, .status-bar
{
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(150, 150, 150, .5);
    box-shadow: inset 0px 0px 5px 0px rgba(150, 150, 150, .5);
}