<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<script src="/app/grapache.js"></script>-->
        <link rel="stylesheet" href="/resource/css/normalize.min.css">
        <link rel="stylesheet" href="/resource/css/main.css">
        <link rel="stylesheet" href="/resource/css/grrApache.css">
        <link rel="stylesheet" href="/lib/jquery.mobile-1.2.0/jquery.mobile.structure-1.2.0.css">
        <link rel="stylesheet" href="/lib/jquery.mobile-1.2.0/jquery.mobile.theme-1.2.0.css">
        <script src="/lib/jquery-1.8.3/jquery-1.8.3.js"></script>
        <script src="/lib/jquery-1.8.3/plugin/jquery.tmpl.js"></script>
        <script src="/lib/jquery.mobile-1.2.0/jquery.mobile-1.2.0.js"></script>

    </head>
    <body>

<div data-role="page">

    <div data-role="header">
        <a href="#" data-icon="arrow-l" data-rel="back">Back</a>
        <h1>Page Title</h1>
    </div>
    <div data-role="content">

        <ul class="list-container" data-role="listview" data-filter="true" data-theme="c" data-divider-theme="c"></ul>

    </div>
    <div data-role="footer" data-position="fixed">
        <h4>Page Footer</h4>
    </div>

    <script id="serverItem" type="text/x-jquery-tmpl">
        <li data-template-name="liste" data-icon="arrow-r">
            
            <a href="/app/view/server.html">
                <h3>${title}</h3>
                <img src="http://www.google.com/s2/favicons?domain=${website}" alt="France" class="ui-li-icon" style="min-height:24px;min-width:24px;"/>
                <div class="graph">
                    <div data-value="${available}" class="graph-available"></div><div data-value="${processed}" class="graph-processed"></div>
                </div>
                <div class="ui-li-aside">
                    <span class="ui-li-count">${indice}</span>
                    <label>refresh</label>
                    <select data-role="slider" data-mini="true">
                        <option value="no">No</option>
                        <option value="yes">Auto</option>
                    </select>
                </div>
            </a>
        </li>
    </script>

</div>

<script>

    $(document).ready(function(){

        var data = [{
            'title':'http://www.apache.org',
            'website':'www.apache.org',
            'description':'',
            'processed':420,
            'available':100,
            'indice':'100%'
        }, {
            'title':'https://wixiweb.intra.wixiweb.net',
            'website':'www.wixiweb.fr',
            'description':'',
            'processed':25,
            'available':150,
            'indice':'50%'
        }, {
            'title':'https://doom.intra.wixiweb.net',
            'website':'doom.intra.wixiweb.net',
            'description':'',
            'processed':10,
            'available':150,
            'indice':'50%'
        }];

        var $template = $('.list-container');
        $template.empty();
        $("#serverItem").tmpl(data).appendTo($template);
        $template.listview( "refresh" );
        $('[data-role="slider"]').slider();


        $('.graph div').css('display', 'inline-block');

        $('.graph').each(function(index, el){
            var graphProcessed = $(el).find('.graph-processed');
            var graphAvailable = $(el).find('.graph-available');
            var available = graphAvailable.data('value');
            var processed = graphProcessed.data('value');
            var total = graphProcessed.data('value') + graphAvailable.data('value');
            graphAvailable.css('width', (available*100/total)+'px');
            graphProcessed.css('width', (processed*100/total)+'px');

            graphAvailable.css('border', '4px solid green');
            graphProcessed.css('border', '4px solid red');
        });
    });

</script>

<!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
-->
    </body>
</html>
