<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<script src="/app/grapache.js"></script>-->
        <link rel="stylesheet" href="/resource/css/normalize.min.css">
        <link rel="stylesheet" href="/resource/css/main.css">
        <link rel="stylesheet" href="/resource/css/grrApache.css">
        <link rel="stylesheet" href="/resource/css/effect.css">
        <link rel="stylesheet" href="/lib/jquery.mobile-1.2.0/jquery.mobile.structure-1.2.0.css">
        <link rel="stylesheet" href="/lib/jquery.mobile-1.2.0/jquery.mobile.theme-1.2.0.css">
        <script src="/lib/jquery-1.8.3/jquery-1.8.3.js"></script>
        <script src="/lib/jquery-1.8.3/plugin/jquery.tmpl.js"></script>
        <script src="/lib/jquery.mobile-1.2.0/jquery.mobile-1.2.0.js"></script>

    </head>
    <body>

<div data-role="page">

    <div data-role="header">
        <a href="#" data-icon="arrow-l" data-rel="back">Back</a>
        <h1>Page Title</h1>
    </div>
    <div data-role="content">

        <ul class="list-container" data-role="listview" data-theme="c" data-divider-theme="c"></ul>

    </div>
    <div data-role="footer" data-position="fixed">
        <h4>Page Footer</h4>
    </div>

    <script id="serverItem" type="text/x-jquery-tmpl">
        <li data-template-name="liste" data-icon="arrow-r">
            <h3>${title}</h3>
        </li>
    </script>

</div>

<script>

    $(document).ready(function(){

        var data = {
            'title':'http://www.apache.org',
            'website':'www.apache.org',
            'maxClient':450,
            'status':{
                waiting:120,
                starting:10,
                reading:10,
                sending:29,
                keepalive:0,
                dns:0,
                closing:0,
                logging:0,
                finishing:60,
                cleaning:0,
                idle:0
            },
            'indice':'100%'
        };
        
    });

</script>

<!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
-->
    </body>
</html>
